
body {
  display: flex;
  justify-content: center;
  align-items: center;
}


h1 {
  margin-left: 180px; 
  margin-top: 100px;
  margin-bottom: 50px;
}

p {
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 280px;
  font-size: 25px;
  text-decoration: underline;
}

.time {
  display: inline-block;
  font-size: 20px;
  margin-left: 275px;
}

#timer {
  display: inline-block;
  margin-bottom: 50px;
  font-size: 20px;
}

#backButton {
  margin-top: 100px;
  margin-left: 60px;
  cursor: pointer;
  border-radius: 4px;
  width: 100px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#resetButton {
  margin-left: 120px;
  cursor: pointer;
  border-radius: 4px;
  width: 100px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#nextButton {
  margin-left: 120px;
  cursor: pointer;
  border-radius: 4px;
  width: 100px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#imgContainer {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-gap: 20px; 
  justify-content: center;
}

.number {
  position: relative;
  transition: 0.25s;
  cursor: pointer;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: lightgreen;
}

.number.boxOpen {
  transform: rotateY(0deg);
}

.number::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color:lightblue;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.boxOpen::after {
  transform: rotateY(180deg);
}