body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  pointer-events: none;
}


.levelTitle { 
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  text-decoration: underline;
  color:white;
}



.time {
  font-size: 20px;
  text-align: center;
  color: white;
}

.timer {
  margin-bottom: 50px;
  font-size: 20px;
  margin-left: 4px;
  text-align: center;
  color: white;
}

.buttonContainer {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-top: 50px; 
}

.backButton {
  margin-left: 0; 
  cursor: pointer;
  width: 100px;
  padding-top: 3px;
  padding-bottom: 3px;
  border:2px solid black;
  background-color: rgb(245, 245, 245);
}

.resetButton {
  cursor: pointer;
  width: 100px;
  padding-top: 3px;
  padding-bottom: 3px;
  border:2px solid black;
  background-color: rgb(245, 245, 245);
}

.nextButton {
  margin-right: 0; 
  cursor: pointer;
  width: 100px;
  padding-top: 3px;
  padding-bottom: 3px;
  border:2px solid black;
  background-color: rgb(245, 245, 245);
}

.imgContainer {
  display: grid;
  grid-gap: 20px; 
  justify-content: center;
}

#imgContainer1 { grid-template-columns: repeat(4,100px);}
#imgContainer2 { grid-template-columns: repeat(5,100px);}
#imgContainer3 { grid-template-columns: repeat(6,100px);}
#imgContainer4 { grid-template-columns: repeat(7,100px);}
#imgContainer5 { grid-template-columns: repeat(8,100px);}
#imgContainer6 { grid-template-columns: repeat(9,100px);}
#imgContainer7 { grid-template-columns: repeat(10,100px);}
#imgContainer8 { grid-template-columns: repeat(11,100px);}
#imgContainer9 { grid-template-columns: repeat(8,100px);}
#imgContainer10 { grid-template-columns: repeat(13,100px);}

.itachi1, .itachi2, .itachi3, .itachi4, .itachi5, .itachi6, .itachi7, .itachi8, .itachi9, .itachi10 {
  position: relative;
  transition: transform 1s ease;
  cursor: pointer;
}



.itachi1.boxOpen, .itachi2.boxOpen, .itachi3.boxOpen, .itachi4.boxOpen, .itachi5.boxOpen, .itachi6.boxOpen, .itachi7.boxOpen, .itachi8.boxOpen, 
.itachi9.boxOpen, .itachi10.boxOpen {
  transform: rotateY(0deg);
}

.itachi1::after, .itachi2::after, .itachi3::after, .itachi4::after, .itachi5::after, .itachi6::after, .itachi7::after, .itachi8::after, 
.itachi9::after, .itachi10::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color:lightblue;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.boxOpen::after {
  transform: rotateY(180deg);
}



.modalContainer {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.modalContainer.show {
  opacity: 1;
  border: 2px solid #000; 
  border-radius: 8px;
  width: 500px;
  background-color: white;
  display: block;
}

#modalContainer1.show { margin-left: 0px;  margin-top: -500px;}
#modalContainer2.show { margin-left: 40px;  margin-top: -500px;}
#modalContainer3.show { margin-left: 100px;  margin-top: -500px;}
#modalContainer4.show { margin-left: 150px;  margin-top: -500px;}
#modalContainer5.show { margin-left: 220px;  margin-top: -500px;}
#modalContainer6.show { margin-left: 270px;  margin-top: -500px;}
#modalContainer7.show { margin-left: 340px;  margin-top: -500px;}
#modalContainer8.show { margin-left: 400px;  margin-top: -500px;}
#modalContainer9.show { margin-left: 220px;  margin-top: -700px;}
#modalContainer10.show { margin-left: 520px;  margin-top: -500px;}




.modal {
  padding-top: 50px;
  padding-bottom: 50px;
}

.modal h1{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.scoreContainer, .movesContainer, .pointsContainer{
  display: flex;
  justify-content: center;
}
.score{
  margin-right: 40px;
}

.moves{
  margin-right: 50px;
}

.points {
  margin-right: 45px;
}

header {
  position: fixed;           
  top: 0;
  left: 0;
  width: 100%; 
  padding-top: 10px;
  padding-bottom: 10px;              
  display: flex;
  justify-content: center;
  align-items: center;   
  background-color: rgb(0, 0, 0, 0.4) ;  
  z-index: 1000;       
}

.pointsOnScreen{
  color: white;
}

#lives{
  position: absolute;
  right: 25%;
  display: none;
  color: white;
}

.preShop{
  color: white;
  cursor: pointer;
  position: absolute;
  right: 13.5%;
  display: none;
  padding-bottom: 5px;
}

.shopIcon{
  font-size: 20px;
}


#shopPanel{
  text-align: left;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 200px;
  background-color: white;
  box-sizing: border-box;
  pointer-events: auto;
  display: none;
}

.shop {
  display: inline-block;
}

#extraLife, #fiveLives, #moreLives {
  padding: 10px 15px;
  font-size: 40px;
  background-color: #ffdddd;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}
.oneExtraLife, .fiveExtraLives{
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 15px;
}

#extraLife:hover, #fiveLives:hover, #moreLives:hover{
  border: 2px solid black;
}

#priceOneExtraLife, #priceFiveExtraLives, #priceMoreLives{
  font-size: 17px;
  position: absolute;
  top: 63px;
  left: 13px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: lightgreen;
  padding: 2px 2px;
}

#priceMoreLives {left: 9px;}

#moreLivesValue{
  width: 36px;
  position: absolute;
  top: 90px;
  left: 220px;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid black;
}
.closeButtonShop{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#preSettings{
 position: absolute;
 right: 0;
 margin-bottom: 5px;
 color: white;
}

.settingsIcon {
 font-size: 20px;
 cursor: pointer;
 pointer-events: auto;
}



#settingsPanel {
  text-align: left;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  width: 270px;
  background-color: white;
  box-sizing: border-box;
  display: none;
  pointer-events: auto;
}



.setting {
  margin-bottom: 10px;
}

#volume, #zoom{
  width: 100px;
}

#volumeValue, #zoomValue{
  width: 40px;
}

.closeButton{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#darkmode, #lightmode {
  position: fixed;         
  top: 0;
  left: 0;
  width: 100vw;           
  height: 100vh;           
  object-fit: cover;       
  z-index: -1;             
}



#modeSelection{
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  margin-top: 205px;
  width: 400px;
  height: 200px; 
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  pointer-events: auto;
}

.selectModeTitle{
  color: white;
  display: flex;
  justify-content: center;
}

#classicModeButton{
  margin-top: 10px;
  margin-left: 75px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 100px;
  cursor: pointer;
}
#livesModeButton{
  margin-left: 50px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 100px;
  cursor: pointer;
}

.gameOver{
  display: none;
  opacity: 0;
  pointer-events: none;
}

.gameOver.show {
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  width: 400px;
  height: 200px; 
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  pointer-events: auto;
  color: white;
  opacity: 1;
  display: block;
}

#gameOver1.show{margin-left: 26px;  margin-top: -415px;}
#gameOver2.show{margin-left: 88px; margin-top: -415px;}
#gameOver3.show{margin-left: 150px; margin-top: -415px;}
#gameOver4.show{margin-left: 208px; margin-top: -415px;}
#gameOver5.show{margin-left: 270px; margin-top: -415px;}
#gameOver6.show{margin-left: 330px; margin-top: -415px;}
#gameOver7.show{margin-left: 390px; margin-top: -415px;}
#gameOver8.show{margin-left: 450px; margin-top: -430px;}
#gameOver9.show{margin-left: 270px; margin-top: -600px;}
#gameOver10.show{margin-left: 570px; margin-top: -430px;}


.gameOverTitle{
  display: flex;
  justify-content: center;
}

.restart{
  cursor: pointer;
  margin-top: 10px;
  margin-left: 160px;
  border-radius: 10px;
  padding:15px 15px;
  border: none;
  font-size: 15px;
}


.nextButton .completeMessage{
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 8px;
  border-radius: 4px;
  position: absolute;
  margin-top: -48px;
  margin-left: -9px;
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}
