body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  margin: 0;
  height: 100vh;
}


h1 {
  font-size: 40px;
  margin-bottom: 100px;
  color: white;
}

p {
  font-size: 25px;
  margin-left: 90px;
  margin-bottom: 40px;
  color: white;
}

#hardButton, #mediumButton, #easyButton {
  display: block;
  width: 100px;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 120px;
  background-color: rgb(253, 95, 253);
  cursor: pointer;
  font-size: 15px;
  border-color: white;
  color: white;
}

#optionsForEasyDifficulty,
#optionsForMediumDifficulty,
#optionsForHardDifficulty {
  opacity: 0;
  pointer-events: none;
  color: white;
}

.optionsForEasyDifficulty {
  margin-top: 200px;
  margin-bottom: -370px;
}

.optionsForMediumDifficulty {
 margin-top: 200px;
 margin-bottom: -370px;
  
}

.optionsForHardDifficulty{
  margin-top: 200px;
}

#optionsForEasyDifficulty.show,
#optionsForMediumDifficulty.show,
#optionsForHardDifficulty.show {
  margin-top: 0;
  opacity: 1;
  transition-timing-function: ease-in;
  transition-duration: 1s;
  pointer-events: auto;
  color: white;
}

.selectButtons {
  cursor: pointer;
  max-width: 500px; 
  max-height: 500px; 
  overflow-y: scroll; 
  border: 2px solid white; 
  padding: 10px;
}

.numbers {
  display: inline-block;
  border: 2px solid;
  border-radius: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.numbers2 {
  font-size: 20px;
}

.menu {
  height: 600px;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 33.33%;
  z-index: -1;
  height: 100%;
  object-fit: cover;
}

.numbersVideo{
  position: absolute;
  top: 0;
  left: 33.33%;
  width: 33.33%; 
  z-index: -1; 
  height: 100%;
  object-fit: cover;
}

.animeVideo {
  position: absolute;
  top: 0;
  left: 66.66%; 
  width: 33.33%; 
  z-index: -1; 
  height: 100%;
  object-fit: cover;
}


header {
  position: fixed;           
  top: 0;
  left: 0;
  width: 100%; 
  padding-top: 10px;
  padding-bottom: 10px;              
  display: flex;
  justify-content: center;
  align-items: center;    
  z-index: 1000;       
}

#preSettings{
 position: absolute;
 right: 0;
 margin-bottom: 5px;
 color: white;
}

.settingsIcon {
 font-size: 20px;
 cursor: pointer;
}

#settingsPanel {
  text-align: left;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  width: 270px;
  height: 190px;
  background-color: white;
  box-sizing: border-box;
  display: none;
}

.closeButton{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.credits{
  display: none;
}

.creditsButton {
  margin-top: 10px;
  width: 70px;
  background-color: white;
  border-radius: 2px;
  border: solid 1px black;
  cursor: pointer;
}

.loginButton {
  width: 70px;
  background-color: white;
  border-radius: 2px;
  border: solid 1px black;
  cursor: pointer;
  position: absolute; 
  top: 5px;          
  left: 10px;         
}

.googleButton {
  width: 100px;
  background-color: white;
  border-radius: 2px;
  border: solid 1px black;
  cursor: pointer;
  position: absolute; 
  top: 40px;          
  left: 10px;         
}


#auth {
  display: none; /* hidden by default */
  position: fixed; /* fixed on screen */
  top: 50%;        /* center vertically */
  left: 50%;       /* center horizontally */
  transform: translate(-50%, -50%); /* perfect centering */
  max-width: 600px;
  width: 90%;      /* responsive width */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 1000; /* make sure it's on top of everything */
  background-color: #1a1e32;
}

.sign-up-text {
  padding-top: 0;
  color: white;
}

.register-content {
  display: flex;
  align-items: center;
  gap: 1rem;

}

hr {
  opacity: 0.4;
}

.createAcc{
  font-size: 20px;
}

.noAcc{
  font-size: 20px;
}